<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>猪八戒任务列表</title>
</head>
<body style="margin: 0; padding: 0; background-color: #878c80; background-image: url(/images/body-bg.jpg); background-repeat: repeat;" marginheight="0" topmargin="0" marginwidth="0" leftmargin="0">
<!--100% body table-->
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td bgcolor="#d8e7ea" style="background-color: #878c80; background-image: url(/images/body-bg.jpg); background-repeat: repeat;">
            <!--header text-->
            <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <table id="top" width="600" border="0" align="center" cellpadding="0" cellspacing="0">
                            <tr>
                                <td valign="middle" align="center" height="60"> <em>
                                    <p style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 14px; color: #bfc1ae; margin: 0; padding: 0;">You’re receiving this newsletter because you signed up for it | Having trouble reading this email?
                                        <webversion style="color:#bfc1ae; text-decoration: underline;">View it in your browser.</webversion>
                                        |
                                        <unsubscribe style="color:#bfc1ae; text-decoration: underline;">Click here to instantly unsubscribe.</unsubscribe>
                                    </p>
                                    </em> </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <!--/header text-->
            <!--intro-->
            <table bgcolor="#e5e3db" background="/images/full-bg-top.jpg" width="600" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td valign="top" width="15" height="147"><img style="margin: 0; padding: 0; display: block;" src="/images/left-top-curl.jpg" width="15" height="147"></td>
                    <td valign="top" height="100">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td width="350" height="23"></td>
                                <td bgcolor="#ddd9ce" background="/images/right-bg.jpg" width="52"></td>
                                <td bgcolor="#ddd9ce" background="/images/right-bg.jpg" width="120"></td>
                                <td bgcolor="#ddd9ce" background="/images/right-bg.jpg" width="48"></td>
                            </tr>
                            <tr>
                                <td valign="top" height="124" background="/images/top-intro-bg.jpg" bgcolor="#dd2d1d">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td height="30"></td>
                                            <td height="30"></td>
                                        </tr>
                                        <tr>
                                            <td width="20">&nbsp;</td>
                                            <td valign="top">
                                                <h1 style="font-family: Georgia, 'Times New Roman', Times, serif; margin: 0; padding: 0; color: #FFF; text-shadow: -1px -1px 1px #a10e08; font-size: 36px;">ABC WIDGETS</h1>
                                                <em>
                                                <p style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 14px; margin: 0; padding: 0; color:#e7edcf;">Lorem ipsum dolor sit amet</p>
                                                </em> </td>
                                        </tr>
                                    </table>
                                </td>
                                <td background="/images/right-bg.jpg" bgcolor="#ddd9ce" valign="top"> <img style="margin: 0; padding: 0; display: block;" src="/images/bracket-red.png"> </td>
                                <td background="/images/right-bg.jpg" bgcolor="#ddd9ce" valign="top">
                                    <table background="/images/right-bg.jpg" bgcolor="#ddd9ce" width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td valign="top" height="12" align="center"></td>
                                        </tr>
                                        <tr>
                                            <td  height="30" align="center">
                                                <table width="27" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td valign="top" align="center" height="27" bgcolor="#b7b7ac" background="/images/date-bg-1.jpg">
                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td height="3"></td>
                                                                </tr>
                                                            </table>
                                                            <p style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 14px; color: #FFF; margin-bottom: 0px; margin-top: 0px; padding: 0px; -webkit-text-size-adjust: none; clear: both;">
                                                                <currentday/>
                                                            </p>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="bottom" height="19" align="center"><img style="margin: 0; padding: 0;" src="/images/ornament.gif" width="76" height="19"> </td>
                                        </tr>
                                        <tr>
                                            <td height="20" align="center">
                                                <p style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 14px; color: #9c9e93; margin-bottom: 0px; margin-top: 0px; padding: 0px; text-shadow: 1px 1px 1px #FFFFFF; -webkit-text-size-adjust: none; clear: both;">
                                                    <currentmonthname/>
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center">
                                                <p style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 24px; color: #9c9e93; margin-bottom: 0px; margin-top: 0px; padding: 0px; text-shadow: 1px 1px 1px #FFFFFF; -webkit-text-size-adjust: none; clear: both;">
                                                    <currentyear/>
                                                </p>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td background="/images/right-bg.jpg" bgcolor="#ddd9ce" align="right" valign="top"><img style="margin: 0; padding: 0; display: block;" src="/images/bracket-green.png" width="48" height="124"></td>
                            </tr>
                        </table>
                    </td>
                    <td valign="top" width="15" height="147"><img style="margin: 0; padding: 0; display: block;" src="/images/right-top-curl.jpg" width="15" height="147"></td>
                </tr>
            </table>
            <!--/intro-->
            <!--content section-->
            <table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td valign="top" width="15"> <img style="margin: 0; padding: 0; display: block;" src="/images/left-curl-part-1.jpg" width="15" height="56">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td valign="bottom" height="490"><img style="margin: 0; padding: 0; display: block;" src="/images/left-curl-part-1.jpg" width="15" height="56"></td>
                            </tr>
                        </table>
                    </td>
                    <td background="/images/full-bg.jpg" bgcolor="#e5e3db" valign="top">
                        <table width="569" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td valign="top" width="30">
                                    <table width="20" border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td height="27"></td>
                                        </tr>
                                        <tr>
                                            <td><img style="margin: 0; padding: 0; display: block;" src="/images/left-curl-part-2.gif" width="12" height="28"></td>
                                        </tr>
                                    </table>
                                    <table width="20" border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td height="460"></td>
                                        </tr>
                                        <tr>
                                            <td><img style="margin: 0; padding: 0; display: block;" src="/images/left-curl-part-2.gif" width="12" height="28"></td>
                                        </tr>
                                    </table>
                                </td>
                                <td valign="top">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td valign="top" width="318">
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td height="23"></td>
                                                    </tr>
                                                </table>
                                                <table width="300" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td>
                                                            <h1 style="font-family: Georgia, 'Times New Roman', Times, serif; margin: 0; padding: 0; color: #de2d1d; font-size: 18px; text-shadow: 1px 1px 1px #FFFFFF;">Lorem Ipsum decided to leave for the far World of Grammar</h1>
                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td height="15"></td>
                                                                </tr>
                                                            </table>
                                                            <p style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 14px; margin: 0; padding: 0; color:#757870; font-weight: normal;">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the <a style="color: #de2d1d;" href="#">charm of existence</a> in this spot, which was created for the bliss of souls like mine.</p>
                                                            <!--break-->
                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td height="10"></td>
                                                                </tr>
                                                            </table>
                                                            <!--/break-->
                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td valign="middle" height="10"><img style="margin: 0; padding: 0; display: block;" src="/images/line-break2.gif" width="300" height="6"></td>
                                                                </tr>
                                                            </table>
                                                            <img style="margin: 0; padding: 0; display: block;" src="/images/img3.jpg" width="300" height="147" alt="img3">
                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td  valign="top"height="10"><img style="margin: 0; padding: 0; display: block;" src="/images/line-break2.gif" width="300" height="6"></td>
                                                                </tr>
                                                            </table>
                                                            <!--break-->
                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td height="10"></td>
                                                                </tr>
                                                            </table>
                                                            <!--/break-->
                                                            <table width="300" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td>
                                                                        <p style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 14px; margin: 0; padding: 0; color:#757870; font-weight: normal;">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the <a style="color: #de2d1d;" href="#">charm of existence</a> in this spot, which was created for the bliss of souls like mine.</p>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td height="20"></td>
                                                                </tr>
                                                            </table>
                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td height="10"><img style="margin: 0; padding: 0; display: block;" src="/images/line-break-dotted2.gif" width="300" height="8"></td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <table width="300" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td>
                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td height="20"></td>
                                                                </tr>
                                                            </table>
                                                            <h1 style="font-family: Georgia, 'Times New Roman', Times, serif; margin: 0; padding: 0; color: #de2d1d; font-size: 18px; text-shadow: 1px 1px 1px #FFFFFF;">A collection of textile samples</h1>
                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td height="15"></td>
                                                                </tr>
                                                            </table>
                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td width="41%" valign="top"><img style="margin: 0; padding: 0; display: block;" src="/images/img4.jpg" height="110" width="111"></td>
                                                                    <td width="59%" valign="top">
                                                                        <p style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 14px; margin: 0; padding: 0; color:#757870; font-weight: normal;"> I should be incapable of <a style="color: #de2d1d;" href="#">drawing a single stroke</a> at the present moment; and yet I feel that I never was a greater artist than now. </p>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td height="20"></td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td align="left" valign="top" width="221">
                                                <table bgcolor="#ddd9ce" background="/images/right-bg.jpg" width="221" border="0" cellpadding="10" cellspacing="0">
                                                    <tr>
                                                        <td valign="top" height="820">
                                                            <h2 style="font-family: Georgia, 'Times New Roman', Times, serif; margin: 0; padding: 0; color: #6a6e62; font-size: 16px; text-shadow: 1px 1px 1px #FFFFFF;">IN THIS ISSUE</h2>
                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td height="10"></td>
                                                                </tr>
                                                            </table>
                                                            <p style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 14px; margin-bottom: 0px; margin-top: 0px; padding: 0; color:#757870; font-weight: normal;"> <img style="margin: 0; padding: 0;" src="/images/li.gif" width="15" height="12"><em>A collection of textile samples lay spread out </em></p>
                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td valign="middle" height="10"><img style="margin: 0; padding: 0; display: block;" src="/images/line-break-dotted3.gif" width="176" height="6"></td>
                                                                </tr>
                                                            </table>
                                                            <p style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 14px; margin-bottom: 0px; margin-top: 0px; padding: 0; color:#757870; font-weight: normal;"> <img style="margin: 0; padding: 0;" src="/images/li.gif" width="15" height="12"><em>A collection of <a style="color: #de2d1d;" href="#">textile samples </a></em></p>
                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td valign="middle" height="10"><img style="margin: 0; padding: 0; display: block;" src="/images/line-break-dotted3.gif" width="179" height="6"></td>
                                                                </tr>
                                                            </table>
                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td height="10"></td>
                                                                </tr>
                                                            </table>
                                                            <h2 style="font-family: Georgia, 'Times New Roman', Times, serif; margin-bottom: 0px; margin-top: 0px; padding: 0; color: #6a6e62; font-size: 16px; text-shadow: 1px 1px 1px #FFFFFF;">IN OTHER NEWS</h2>
                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td height="10"></td>
                                                                </tr>
                                                            </table>
                                                            <p style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 11px;margin-bottom: 0px; margin-top: 0px; padding: 0; color:#de2d1d; font-weight: bold;">The bedding was hardly
                                                                able to cover it</p>
                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td height="10"></td>
                                                                </tr>
                                                            </table>
                                                            <p style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 11px; margin-bottom: 0px; margin-top: 0px; padding: 0; color:#757870; font-weight: normal;"><em>I am alone, and feel the <a style="color: #de2d1d;" href="#">charm of existence</a> in this spot, which was created for the bliss of souls like mine.</em></p>
                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td height="15"></td>
                                                                </tr>
                                                            </table>
                                                            <p style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 11px; margin-bottom: 0px; margin-top: 0px; padding: 0; color:#de2d1d; font-weight: bold;">Samsa was a travelling
                                                                salesman</p>
                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td height="10"></td>
                                                                </tr>
                                                            </table>
                                                            <p style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 11px; margin: 0; padding: 0; color:#757870; font-weight: normal;"><em>I am alone, and feel the <a style="color: #de2d1d;" href="#">charm of existence</a> in this spot, which was created for the bliss of souls like mine.</em></p>
                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td valign="middle" height="20"><img style="margin: 0; padding: 0; display: block;" src="/images/line-break-dotted3.gif" width="179" height="6"></td>
                                                                </tr>
                                                            </table>
                                                            <h2 style="font-family: Georgia, 'Times New Roman', Times, serif; margin-bottom: 0px; margin-top: 0px; padding: 0; color: #6a6e62; font-size: 16px; text-shadow: 1px 1px 1px #FFFFFF;">FORWARD THIS EMAIL</h2>
                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td height="10"></td>
                                                                </tr>
                                                            </table>
                                                            <p style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 11px; margin: 0; padding: 0; color:#757870; font-weight: normal;"><em>Do you know someone who might be interested in receiving this monthly newsletter?</em></p>
                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td height="10"></td>
                                                                </tr>
                                                            </table>
                                                            <p style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 11px; margin-bottom: 0px; margin-top: 0px; padding: 0; color:#757870; font-weight: normal;"> <em><img style="margin: 0; padding: 0;" src="/images/li.gif" width="15" height="12"> </em>
                                                                <forwardtoafriend style="color: #de2d1d; text-decoration: underline;">Foward this email</forwardtoafriend>
                                                            </p>
                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td height="20"></td>
                                                                </tr>
                                                            </table>
                                                            <h2 style="font-family: Georgia, 'Times New Roman', Times, serif; margin: 0; padding: 0; color: #6a6e62; font-size: 16px; text-shadow: 1px 1px 1px #FFFFFF;">CONTACT US</h2>
                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td height="10"></td>
                                                                </tr>
                                                            </table>
                                                            <p style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 11px; margin: 0; padding: 0; color:#757870; font-weight: normal;"><em>123 Some Street,<br>
                                                                City<br>
                                                                ST99999.<br>
                                                                ph +1 4 1477 89 745</em> </p>
                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td height="20"></td>
                                                                </tr>
                                                            </table>
                                                            <h2 style="font-family: Georgia, 'Times New Roman', Times, serif; margin-bottom: 0px; margin-top: 0px; padding: 0; color: #6a6e62; font-size: 16px; text-shadow: 1px 1px 1px #FFFFFF;">UNSUBSCRIBE</h2>
                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td height="10"></td>
                                                                </tr>
                                                            </table>
                                                            <p style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 11px; margin: 0; padding: 0; color:#757870; font-weight: normal;"><em>You’re receiving this newsletter because you signed up for the Abc Widget Newsletter?</em></p>
                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td height="10"></td>
                                                                </tr>
                                                            </table>
                                                            <p style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 11px; margin-bottom: 0px; margin-top: 0px; padding: 0; color:#757870; font-weight: normal;"> <em><img style="margin: 0; padding: 0;" src="/images/li.gif" width="15" height="12"> </em>
                                                                <unsubscribe style="color: #de2d1d; text-decoration: underline;">Unsubscribe now</unsubscribe>
                                                            </p>
                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td height="20"></td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
                            <tr>
                                <td background="/images/full-bg.jpg" bgcolor="#d4d2c5" width="348">
                                    <h1 style="font-family: Georgia, 'Times New Roman', Times, serif; margin: 0; padding: 0; color: #de2d1d; font-size: 24px;"></h1>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td style="background-color: none;" bgcolor="" valign="top" width="15">&nbsp;</td>
                </tr>
            </table>
            <!--/content section-->
            <!--footer-->
            <table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="15"> </td>
                    <td>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td height="20"></td>
                            </tr>
                        </table>
                        <p align="center" style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 14px; margin: 0; padding: 0; color:#bcc1ae; font-weight: normal;">abc Widgets and the abc Widgets Logo are registered trademarks of abcWidgets Corp.
                            <forwardtoafriend style="color: #bcc1ae; text-decoration: underline;">Forward this email to a friend.</forwardtoafriend>
                            Not interested anymore?
                            <unsubscribe style="color: #bcc1ae; text-decoration: underline;" href="#">Unsubscribe Instantly.</unsubscribe>
                        </p>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td height="20"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <!--footer-->
        </td>
    </tr>
</table>
<!--/100% body table-->
</body>
</html>